@media (max-width:600px) {
    .logo-and-mail {
        display: none;
    }
    .mail-filter-container {
        width: 100%;
        margin: 0;
    }
    .filter-mail {
        width: 100%;
        text-align: center;
    
    }

    .hamburger {
        display: none;
    }

    .apps-nav {
        position: absolute;
        right: 3%;
    }
    .aside .aside-expanded{
        display: hidden;
    }
    .mail-filter-container {
        flex-direction: column;
    }

    .mail-list {
        width: calc(100% - 9%);
        min-width: 490px;
        overflow: scroll;
        overflow-x: hidden;
        height: 100vh;
    }


    .mail-subject {
        height: 10px;
    }

    .compose-modal {
        /* max-width: 200px; */
        background-color: #0d1018;
        top: 75px;
        width: 100%;
    }

    .header-function > * {
        color: white; 
    }

    .aside {
        min-width: 45px;
    }

    .mails-preview-container {
        height: 150px;
    }
}