.side-bar-keep {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: fit-content;
  border-right: 1px solid black;
}
.keeps {
  display: flex;
}
li.keep-preview-container {
  text-align: center;
  height: fit-content;
  border-radius: 15px;
  list-style: none;
  width: 100%;
}
.keep-container {
  margin: 10px;
  text-align: center;
  height: fit-content;
  border-radius: 15px;
}
.keep-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(30px, auto);
  text-align: center;
  height: fit-content;
  gap: 1rem;
}
.main-content {
  width: 100%;
}
.keep-inputs,
.keep-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  margin: 1rem auto;
  position: relative;
}
.keep-inputs {
  box-shadow: 0px 0px 38px 8px rgba(92, 92, 92, 0.21);
  -webkit-box-shadow: 0px 0px 38px 8px rgba(92, 92, 92, 0.21);
  -moz-box-shadow: 0px 0px 38px 8px rgba(92, 92, 92, 0.21);
  border: 1px solid rgb(66, 66, 66);
  border-radius: 15px;
}
blockquote {
  margin: 0;
}
.free-text-input,
.new-keep-title,
.url-input-keep {
  width: 70vw;
  margin: 0;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.new-keep {
  margin: 0px;
  max-width: 0;
}
blockquote,
cite {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.done {
  text-decoration: line-through;
}
.flex-column-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}
.keep-logo {
  max-height: 5vh;
}
.keep-logo-and-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}
.mail-header-keep > * {
  border-bottom: 1px solid grey;
  height: max-content;
  padding: 8px;
}
.keep-input {
  margin: 1rem;
  border-radius: 15px;
  padding: 5px;
}
.keep-img {
  width: 60%;
}
.todo-in-keep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.todo-in-keep > * {
  margin: 10px;
}
.keep {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border-radius: 15px;
}
.keep > * {
  margin: 5px;
}
.hidden {
  opacity: 0;
  transition-duration: 0.218s;
}
.show {
  opacity: 1;
  transition-duration: 0.218s;
}
.keep-actions {
  display: flex;
  justify-content: flex-start;
}
.pin-keep {
  position: relative;
}
.keep-btn {
  background: transparent;
  border: 0px;
  height: 3vh;
  cursor: pointer;
  border-radius: 50px;
}

.keep-btn:hover {
  box-shadow: 0px 0px 5px 4px rgba(74, 74, 74, 0.46);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(74, 74, 74, 0.46);
  -moz-box-shadow: 0px 0px 5px 4px rgba(74, 74, 74, 0.46);
  background-color: rgba(170, 170, 170, 0.332);
}
.keep-add-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
}
.empty-thumbtack{
    position:absolute;
    float: right;
    left: 70vw;
    top: 5px;
    height: fit-content;
    width: fit-content;
}
[contenteditable] {
    outline: 0px solid transparent;
  }