.mail-content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.mail-content {
    width: 1700px;
    display: flex;
    flex-direction: row-reverse;
}

.mail {
    display: flex;
    justify-content: flex-end;
}

.mail-subject {
    margin-left: 10rem;
}