.star-active,.mail-star:hover {
    color: yellow;
}
.mail-star {
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mail-ul {
    display: block;
    padding: 0;
}